
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
     
header{
    max-width: 1160px;
    margin: 0 auto;
    background-color:#FFFFFF;
}
/* nav */
.banner{
    max-width: 1160px; 
}
.icon{
    display: none;
}
.navbar{
    display: flex inline;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
   
}
.nav-logo{
    width: 62px;
    height: 62px;
}
.nav-h{
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
.nav-list{
    display: flex inline;
    margin-right: 186px;
    margin-left: 186px;
}
.nav-item-1{
    color: orange;
}
.nav-item-2{
    color: skyblue;
}
.nav-item-3{
    color: aquamarine ;
}
.nav-item-4{
    color:rgba(93, 88, 239, 1) ;
}
.nav-item-1 ,.nav-item-2,.nav-item-3,.nav-item-4{
    font-weight: 500px;
    font: size 1.25rem;;
    display: flex inline;
    margin-right: 32px;

}
.nav-btn{
    border-radius: 12px;
    border: none;
    background-color: orange;
    color: rgba(255, 255, 255, 1);
    width: 197px;
    height: 50px;
    font-size: 20px;
    font-weight: 600px;
}

/* banner */
.navbar , .banner{
max-width: 1159px;
    margin-left: auto;
    margin-right: auto;

}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.bnr-dtl{
    max-width: 640px;
    margin-right: 50px;
}
.bnr-h{
    font-size:3.5rem;
    font-weight: bold;
}
.s1{
    color: orange;
}
.s2{
    color: black;
}
.s3{
    color:skyblue;
}
.bnr-p{
    font-size: 1.25rem;
    
}
.bnr-btn{
    border-radius: 12px;
    border: none;
    background-color: black;
    color: rgba(255, 255, 255, 1);
    width: 197px;
    height: 50px;
    font-size: 20px;
    font-weight: 600px;
margin-top: 24px;
}
.bnr-img{
    margin-left: 50px;
    max-width: 470px;
}
/* main */
.cards{
display: flex;
text-align: center;
justify-content: center;
margin-top: 86px;

}
.btn-1{
    color: rgba(100, 200, 255, 1);
    font-weight: bold;
    font: size 16px;
}
.btn-2{
    font-weight: bold;
    font: size 16px;
    color: rgba(240, 170, 0, 1);
}
.btn-3{
    font-weight: bold;
    font: size 16px;
    color: rgba(135, 0, 255, 1);
}
.sec-1{
    background-image: url(./assets/bg.png);
    max-width: 1440px;
    /* height: 912px; */
    margin: 0 auto;
}
.sec-1-h{
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    
}
.sec-1-p{
    font-weight: 500px;
    font-size: 1rem;
    color: rgba(128, 128, 128, 1);
}
.card-1 , .card-2 , .card-3{
max-width: 350px;
margin-right: 29px;
height: 476px;
border-radius: 19px; 
padding-top: 80px;
padding-bottom:px;
box-shadow: 0px 6px 50px 0px  rgba(14, 14, 14, 0.15);
padding-left: 40px;
padding-right: 40px;
}

.card-1{
    background: linear-gradient(to top ,#FFFFFF,#FFFFFF, #DEF5FF);

}
.card-2{
 background: linear-gradient(to top , #FFFFFF,#FFFFFF,#FFE6AF) ;
}
.card-3{
  background:linear-gradient( to top, #FFFFFF,#FFFFFF,#FBD3F9) ;  
  

}
.arrows{
 margin-top: 80px;
 width: 130px;
 display: flex;
 gap: 15px;

margin-right: auto;
margin-left: auto;
}
.arrow-left , .arrow-right{
    background-color:orange;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top:30px;
    border-radius: 50px;
    margin-bottom: 60px;
}
 .arrow-right:hover{
   background-color: aquamarine;
}
.arrow-left:hover{
    background-color: aquamarine;
}

/* section-2 */
marquee{
    font-size: 20px ;
    font-weight: bold;
    color: darkcyan;
}
.sec-2-h{
    font-size: 46px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.sec-2{
    max-width: 1440px;
    /* height: 1019px; */
     background-image:url(./assets/bg.png);

    background-image: linear-gradient( to bottom ,#FFFFFF, #fee6bb );
    margin-top: 60px;
    margin-right:  auto;
    margin-left: auto;
}
.stories{
    margin-top: 80px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    column-gap: 25px;
    width: 1160px;
    /* height: auto; */
margin-left: auto;
margin-right: auto;
}
.story-1{
    font-size: 1.5rem;
    border-radius: 16px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1);
    width: 540px;
    height: 630px;

}
.story-1-p{
    color: rgba(102, 102, 102, 1);
    font-size: 1rem;
    font-weight: 600px;
    align-items: center;
    padding-bottom: 34px;
    width: 433px;
    padding-left: 38px;
}
 .story-2 , .story-3 , .story-4 , .story-5{
    border-radius: 16px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1);
   /* max-width: 290px; */
    /* height: 301px; */
    /* width: 100%; */
}
 .img-1 ,.img-2, .img-3,.img-4,.img-5{ 
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;

}
.story-h-1 ,.story-h-2,.story-h-3,.story-h-4,.story-h-5{
    padding-left: 38px;
}

.story-sec-1{
    width: 540px;
    /* height: 630px; */
column-gap: 20px;
}
.story-sec-2{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
     width: 100%; 
    /* max-width: 601px; */
    /* max-height:622px; */
    column-gap: 20px;
    row-gap: 20px;

    
}
.story-btn-1{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(60, 216, 232, 1);
    border-radius: 48px;
    border: none;
    width: 174px;
    height: 48px;
    font-size: 1rem;
    font-weight: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: -25px;
    left: 20px;

}
.story-btn-2 , .story-btn-3 , .story-btn-4 , .story-btn-5{
   background-color: rgba(149, 178, 38, 1);
   color: rgba(255, 255, 255, 1);
    border-radius: 48px;
    border: none;
    width: 174px;
    height: 38px;
    font-size: 1rem;
    font-weight: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: -25px;
    left: 20px;
    
}
.sec-2-btn{
    width: 197px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    background-color: black;
    border-radius: 12px;
    text-align: center;
    padding-top: 10px;
    
     margin: 80px ;
     margin-right: auto;
     margin-left: auto;
     
}
/* footer */
footer{
     display: flex; 
   max-width: 1439px;
 height: auto;
background-color: rgba(1, 172, 253, 1);
margin-left: auto;
margin-right: auto; 
}
.footer-h{
    font-weight: bold;
    font-size: 2.70rem;
    color: #FFFFFF;

}
.f-logo{
    filter: saturate(800%);
    width: 82px;height: 82px;
}
.f-p{
    color: rgba(255, 255, 255, 1);
    font-size: 1.25rem;
    
}
.f-1-a{
    display:inline flex;
    align-items: center;
}
li{
    list-style: none;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 1);

}
.li-h{
    color: rgba(255, 255, 255, 1);
    font-size: 1.25rem;
    font-weight: bold;

}
.f-list{
    align-items: start;
}
.all-f{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 90px;
 width: 100%; 

}
/* media */

@media screen and (max-width: 576px){
    .nav-list , .nav-h , .nav-btn{
display: none;
    }
    .icon{
      display: block;  
    }
    .navbar{
     border-bottom:1px solid  orange ;
        justify-content: space-between;
    
    }
    .banner{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    height: auto;
        margin-left: 30px;
justify-content: center;
    }
    .sec-2{
        height: auto;

    }
    .cards{
        flex-direction: column;
        gap: 12px;

margin-left: 30px;
    }
    .story-1{
        display: none;
    }
    .story-sec-1{
        display: none; 
    }
    .story-btn-2,.story-btn-3,.story-btn-4,.story-btn-5{
        width: 75px;
        margin-right: 50px;
    }
    .story-h-2,.story-h-3,.story-h-4,.story-h-5{
        width: 127px;
    }
   .story-2 ,.story-3,.story-4,.story-5 {
    width: 173px; 
   }
   
   .img-2 ,.img-3,.img-4,.img-5{
    width: 173px; height: 109px;
   }
    .story-sec-2{
        grid-template-columns: repeat(2,1fr);
       margin-left: 15px;
       margin-right: auto;
        margin-bottom: 40px;
       max-width: 350px;   
     width: 100%;
    }
        .all-f{ 
            display: flex;
            flex-direction: column ;
            align-items: flex-start;
            text-align: left;
            margin-bottom: 20px;
            margin-left: 30px;
            margin-right: 10px;
        }
        .f-list{
            align-items: start;
            text-align: left;
        }
        .sec-2-btn{
            display: none;
        }
        .arrows{
            display: none;
        }
        footer{
           max-height: 840px;
    }
    

}